<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="description" content="快来参加吧~" id="Description" />
    <title id="Title">投票</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="app" class="box box-ver of-y">
      <div  id="pages" class="box-f1 pages">
        <transition name="fade">
          <div v-if="navData.actIndex==0" v-scroll="loadMore" class="box box-ver page page1">
            <swipe class="my-swipe" id="slider">
              <swipe-item v-for="(item, index) in detail.banners" class="">
                <a href="#">
                  <img :src="item" alt="">
                </a>
              </swipe-item>
            </swipe>
            <div class="container box box-ver">
                <div class="title box box-pc" v-text="detail.title"></div>
                <div class="bg-num box bc-img">
                    <div class="item box box-ac box-pc box-ver">
                        <div class="num" v-text="detail.total_item"></div>
                        <div class="text">参与选手</div>
                    </div>
                    <div class="item box box-ac box-pc box-ver">
                        <div class="num" v-text="detail.total_vote"></div>
                        <div class="text">累积投票</div>
                    </div>
                    <div class="item box box-ac box-pc box-ver">
                        <div class="num" v-text="detail.total_view"></div>
                        <div class="text">访问人数</div>
                    </div>
                </div>
                <a v-if="is_create == 0" @click="showPageCreateVote()" v-text="is_create == 0?'我要报名':'查看报名'" class="icon-btn-signup box bc-img box-ac box-pc " href="javascript:;">
                  我要报名
                </a>
                <a v-if="is_create == 1" @click="showVoteDetail(newVote.item_guid)" v-text="is_create == 0?'我要报名':'查看报名'" class="icon-btn-signup box bc-img box-ac box-pc " href="javascript:;">
                  查看报名
                </a>
                <div class="box">
                  <a @click="navData.actIndex = 3" href="javascript:;" class="box link-myvote box-ac">
                      <div >我的投票&nbsp;</div>
                      <div class="icon-arrow-left bc-img"></div>
                  </a>
                  <div class="box-f1"></div>
                  <a @click="navData.actIndex = 1" href="javascript:;" class="box link-rule box-ac">
                      <div >活动规则&nbsp;</div>
                      <div class="icon-arrow-left bc-img"></div>
                  </a>
                </div>

                <div class="bg-prize bc-img">
                    <img :src="detail.img_award" alt="" class="prize">
                </div>

                <div class="box search-container">
                    <form action="javascript:return true;" class="box box-f1 box-ac">
                        <input v-model="sword" id="search"  type="search" class="box box-fh" placeholder="搜索" />
                    </form>
                    <a @click="searchVote()" class="icon-btn-search bc-img box box-ac box-pc" href="javascript:;">搜索</a>
                </div>

                <div class="tab-btns box box-f1">
                    <a v-for="(item, index) in tabData.list" v-text="item" @click="changeTab(index)" :class="tabData.actIndex==index?'act':''" class="tab-btn box box-f1 box-fh box-ac box-pc bc-img" href="javascript:;"></a>
                </div>
                <transition name="fade">
                  <div v-if="tabData.actIndex == 0" class="tab-content" >
                    <div v-for="(item, index) in voteList0" class="vote-item box box-ver">
                       <div class="top box box-ac">
                         <div v-text="item.nums + '号'" class="num"></div>
                         <div v-text="item.realname" class="name box-f1 ellipsis"></div>
                       </div>
                       <div @click="showVoteDetail(item.item_guid)" class="image bc-img1" :style="{backgroundImage: 'url(' + item.covers + ')'}"></div>
                       <div v-text="item.title" class="desc ellipsis"></div>
                       <div class="bot box box-ac">
                         <div v-text="item.num_vote + '票'" class="vote-num box-f1"></div>
                         <a @click="vote(item,$event,index)" v-text="item.is_vote=='1'?'已投':'投一票'" :class="item.is_vote=='1'?'vote-haved':''" class="icon-btn-vote bc-img box box-ac box-pc" href="javascript:;">投票</a>
                       </div>
                    </div>
                  </div>
                </transition>
                <transition name="fade">
                  <div v-if="tabData.actIndex == 1" class="tab-content" >
                    <div v-for="(item, index) in voteList1" class="vote-item box box-ver">
                      <div class="top box box-ac">
                        <div v-text="item.nums + '号'" class="num"></div>
                        <div v-text="item.realname" class="name box-f1 ellipsis"></div>
                      </div>
                       <div @click="showVoteDetail(item.item_guid)" class="image bc-img1" :style="{backgroundImage: 'url(' + item.covers + ')'}"></div>
                       <div v-text="item.title" class="desc ellipsis"></div>
                       <div class="bot box box-ac">
                         <div v-text="item.num_vote + '票'" class="vote-num box-f1"></div>
                         <a @click="vote(item,$event,index)" v-text="item.is_vote=='1'?'已投':'投一票'" :class="item.is_vote=='1'?'vote-haved':''"  class="icon-btn-vote bc-img box box-ac box-pc" href="javascript:;">投票</a>
                       </div>
                    </div>
                  </div>
                </transition>
                <transition name="fade">
                  <div v-if="tabData.actIndex == 2" class="tab-content" >
                    <div v-for="(item, index) in voteList2" class="vote-item box box-ver">
                      <div class="top box box-ac">
                        <div v-text="item.nums + '号'" class="num"></div>
                        <div v-text="item.realname" class="name box-f1 ellipsis"></div>
                      </div>
                       <div @click="showVoteDetail(item.item_guid)" class="image bc-img1" :style="{backgroundImage: 'url(' + item.covers + ')'}"></div>
                       <div v-text="item.title" class="desc ellipsis"></div>
                       <div class="bot box box-ac">
                         <div v-text="item.num_vote + '票'" class="vote-num box-f1"></div>
                         <a @click="vote(item,$event,index)" v-text="item.is_vote=='1'?'已投':'投一票'" :class="item.is_vote=='1'?'vote-haved':''"  class="icon-btn-vote bc-img box box-ac box-pc" href="javascript:;">投票</a>
                       </div>
                    </div>
                  </div>
                </transition>
            </div>
          </div>
        </transition>
        <!-- 活动规则 -->
        <transition name="fade">
          <div v-if="navData.actIndex == 1"  class="box box-ver page page2 of-y">
            <div class="box box-ver part ">
              <div class="title box box-ac box-pc">
                活动简介
              </div>
              <div v-html="detail.contents.replace(/[\n]/g,'<br>')" class="txt  box ">
              </div>
            </div>
            <div class="box box-ver part">
              <div class="title box box-ac box-pc">
                参与说明
              </div>
              <div v-html="detail.contents_join.replace(/[\n]/g,'<br>')" class="txt box ">
              </div>
            </div>
          </div>
        </transition>
        <!-- 排行榜 -->
        <transition name="fade">
          <div v-if="navData.actIndex == 2"  class="box box-ver page page3">
            <div class="box box-ver part box-f1">
              <div class="title box box-ac box-pc">
                排行榜
              </div>
              <div class="content box box-ver box-f1">
                  <div class="box box-ac tit">
                    <div class="box-f1 box-fh box box-ac box-pc">
                      名次
                    </div>
                    <div class="box-f1 box-fh box box-ac box-pc">
                      编号
                    </div>
                    <div class="box-f1 box-fh box box-ac box-pc">
                      选手
                    </div>
                    <div class="box-f1 box-fh box box-ac box-pc">
                      票数
                    </div>
                  </div>
                  <div class="box-f1 list">
                    <div @click="showVoteDetail(item.item_guid)" v-for="(item, index) in rankData" class="box box-ac item ">
                      <div v-if="index < 3" class="box-f1 box-fh box box-ac box-pc">
                        <img v-if="index < 3" :src="'images/icon-rank' + (index+1) + '.png'" class="rank-img" alt="">
                      </div>
                      <div v-if="index >= 3" v-text="index + 1" class="box-f1 box-fh box box-ac box-pc">
                      </div>
                      <div v-text="item.nums" class="box-f1 box-fh box box-ac box-pc"></div>
                      <div v-text="item.realname" class="box-f1 box-fh box box-ac box-pc"></div>
                      <div v-text="item.num_vote" class="box-f1 box-fh box box-ac box-pc"></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </transition>
        <!-- 我的投票 -->
        <transition name="fade">
          <div v-if="navData.actIndex == 3"  class="box box-ver page page4">
            <div class="box box-ver part box-f1">
              <div class="title box box-ac box-pc">
                我的投票
              </div>
              <div class="content box box-ver box-f1">
                  <div class="box box-ac tit">
                    <div class="box box-ac box-pc num">
                      编号
                    </div>
                    <div class="box box-ac box-pc name">
                      选手
                    </div>
                    <div class="box-f1 box box-ac box-pc">
                      投票时间
                    </div>
                  </div>
                  <div class="box-f1 list">
                    <div @click="showVoteDetail(item.item_guid)" v-for="(item, index) in myVoteData" class="box box-ac item">
                      <div v-text="item.nums"  class="box box-ac box-pc num"></div>
                      <div v-text="item.realname" class="box box-ac box-pc name ellipsis"></div>
                      <div v-text="item.addtime_show" class="box-f1 box box-ac box-pc"></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
      <div id="footer" class="box footer">
        <div @click="changeNav(index)" :class="navData.actIndex==index?'footer-item-act':''" v-for="(item, index) in navData.list" class="box box-ver box-f1 box-fh box-ac box-pc footer-item">
           <div :class="'icon-nav'+ (index + 1)" class="icon-nav bc-img"></div>
           <div v-text="item" class="txt"></div>
        </div>
      </div>
      <!-- 创建投票 -->
      <transition name="move">
        <div v-if="showPage5" class="page5 page">
          <div class="title bc-img box box-ac box-pc box-fh">
            <div @click="showPage5=false" class="icon-arrow-right bc-img"></div>
            <div class="box-f1 box box-pc">
              报名信息填写
            </div>
          </div>
          <div class="content box box-ver">
              <input v-model="newVote.realname" placeholder="请输入姓名" type="text" name="" maxlength="8" value="" class="box">
              <input v-model="newVote.phone" placeholder="请输入手机号" type="tel" name="" maxlength="11" value="" class="box">
              <textarea v-model="newVote.title" placeholder="请投我一票，谢谢~" name="name" maxlength="30" class="box">
              </textarea>
              <div class="photos" id="photos">
                <div  @click="previewImage(index,newVote.images)" v-for="(item,index) in newVote.images" :style="{backgroundImage: 'url(' + item + ')'}" class="photo-item bc-img1">
                    <div @click="delImage(index,$event)" class="icon-photo-del bc-img1"></div>
                </div>

                <label v-if="newVote.images.length < (+detail.item_img_limit)" for="checkPhoto" class="photo-item box-ac box-pc box">
                  <div class="icon-camera bc-img"></div>
                  <input @change="uploadImg($event)"  id="checkPhoto" type="file" multiple="multiple" accept="image/*"/>
                </label>

                <!-- <div @click="choseImg()" v-if="newVote.images.length < 4" class="photo-item box-ac box-pc box">
                  <div class="icon-camera bc-img">
                  </div>
                </div> -->
                <!-- <a id="pickfiles" href="#" :class="{'size0':newVote.images.length>3}" class="photo-item box-ac box-pc box">
                  <div class="icon-camera bc-img">
                  </div>
                </a> -->
              </div>
              <div @click="creatVote()" v-text="is_create==0?'提交':'修改'" class="icon-btn-signup box box-ac box-pc bc-img">
              </div>
          </div>
        </div>
      </transition>
      <!-- 投票详情 -->
      <transition name="move">
        <div v-if="showPage6" class="page6 page">
          <div class="page">
            <div class="title box box-ver box-fh bc-img">
              <div class="box title-bar box-ac">
                <div @click="closeVoteDetail()" class="icon-arrow-right bc-img"></div>
                <div v-text="itemDetail.nums + '号  ' + itemDetail.realname + (itemDetail.statuss_item=='0'?'(待审核)':(itemDetail.statuss_item=='2'?'未通过':''))" class="box-f1 box box-pc">
                </div>
              </div>
              <div class="bg-num box bc-img">
                  <div class="item box box-ac box-pc box-ver">
                      <div v-text="itemDetail.num_vote" class="num"></div>
                      <div class="text">总票数</div>
                  </div>
                  <div class="item box box-ac box-pc box-ver">
                      <div v-text="itemDetail.rank" class="num"></div>
                      <div class="text">当前排名</div>
                  </div>
                  <div class="item box box-ac box-pc box-ver">
                      <div v-text="itemDetail.num_view"class="num"></div>
                      <div class="text">围观人数</div>
                  </div>
              </div>
            </div>
            <div class="content box box-ver">
                <div v-text="itemDetail.title" class="vote-title">
                </div>
                <div v-html="(itemDetail.contents+'').replace(/[\n]/g,'<br>')" class="vote-detail">
                </div>
                <img @click="previewImage(index,itemDetail.images)" v-for="(item,index) in itemDetail.images" :src="item" alt="">
                <div v-if="itemDetail.item_guid != newVote.item_guid" @click="vote(itemDetail,$event)" v-text="itemDetail.is_vote=='1'?'已投':'投一票'" :class="(itemDetail.is_vote=='1'||itemDetail.statuss_item != 1)?'vote-haved':''"  class="icon-btn-signup box box-ac box-pc bc-img">
                  投一票
                </div>
                <div v-if="itemDetail.item_guid == newVote.item_guid" @click="showPageCreateVote()"  class="icon-btn-signup box box-ac box-pc bc-img">
                  修改信息
                </div>
                <div v-if="itemDetail.item_guid == newVote.item_guid" @click="showPageShareFlag = true"  class="icon-btn-signup box box-ac box-pc bc-img">
                  邀请好友为我投票
                </div>
            </div>
          </div>
        </div>
      </transition>
      <!-- 搜索 -->
      <transition name="move">
        <div v-if="showPage7" class="page7 page">
          <div class="title box box-ver box-fh bc-img">
            <div class="box  box-ac">
              <div @click="showPage7 = false" class="icon-arrow-right bc-img"></div>
              <div class="box search-container box-f1">
                  <form action="javascript:return true;" class="box box-f1 box-ac">
                      <input v-model="sword" id="search"  type="search" class="box box-fh" placeholder="搜索" />
                  </form>
                  <a @click="searchVote()" class="icon-btn-search bc-img box box-ac box-pc" href="javascript:;">搜索</a>
              </div>
            </div>
          </div>
          <div class="content">
            <div v-for="(item, index) in searchList" class="vote-item box box-ver">
              <div class="top box box-ac">
                <div v-text="item.nums + '号'" class="num"></div>
                <div v-text="item.realname" class="name box-f1 ellipsis"></div>
              </div>
               <div @click="showVoteDetail(item.item_guid)" class="image bc-img1" :style="{backgroundImage: 'url(' + item.covers + ')'}"></div>
               <div v-text="item.title" class="desc ellipsis"></div>
               <div class="bot box box-ac">
                 <div v-text="item.num_vote + '票'" class="vote-num box-f1"></div>
                 <a @click="vote(item,$event,index)" v-text="item.is_vote=='1'?'已投':'投一票'" :class="item.is_vote=='1'?'vote-haved':''"  class="icon-btn-vote bc-img box box-ac box-pc" href="javascript:;">投票</a>
               </div>
            </div>
          </div>
        </div>
      </transition>
      <!-- toast -->
      <transition name="fade">
        <div class="mask" v-if="toast.show">
          <div  v-text="toast.msg" class="toast"></div>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="loader" class="mask loader-mask">
          <div class="loader box box-ac box-pc box-fv box-fh">
            <div class="loader-inner pacman">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="showPageShareFlag"  class="mask">
          <div class="share bc-img" @click="showPageShareFlag=false"></div>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="showAuthorizerFlag"  class="mask box box-ac box-pc mask_6"  @click="showAuthorizerFlag=false">
          <div class="authorizer">
            <img :src="authorizer.qrcode_url" alt="">
            <p class="box box-pc">关注公众号才能投票</p>
          </div>
        </div>
      </transition>
    </div>
    <script src="js/concat.js"></script>
</body>
<script>
   document.getElementById("pages").style.height = document.getElementById("app").offsetHeight - document.getElementById("footer").offsetHeight + 'px';
   var vueSwipe = VueSwipe.Swipe;
   var vueSwipeItem = VueSwipe.SwipeItem;
   var vm = new Vue({
       el:"#app",
       components: {
         'swipe': vueSwipe,
         'swipe-item': vueSwipeItem
       },
       data: {
           activityGuid:getQueryString('activity_guid'),
           code:getQueryString('code'),
           appid:getQueryString('appid'),
           state:getQueryString('state'),
           openId:'',
           subscribe:false,
           authorizer:{
                "nick_name": "",
                "head_img": "",
                "qrcode_url": "",
                "is_open": ""
           },
           navData:{
             list:['首页','活动介绍','排行榜','我的投票'],
             actIndex:0
           },
           tabData:{
              list:['全部选手','人气选手','最新选手'],
              actIndex:0
           },
           loader:true,
           isLoading:false,
           token_qiniu:'',
           toast:{
             show:false,
             msg:'loading....'
           },
           newVote:{
             item_guid:'',
             realname:'',
             phone:'',
             title:'',
             images:[]
           },
           sword:'',
           is_create:0,//是否创建过投票
           listPage0:1,
           listPage1:1,
           listPage2:1,
           voteList0:[],
           voteList1:[],
           voteList2:[],
           searchList:[],
           detail: {
             item_img_limit:4,
             contents:'',
             contents_join:'',
             banners:['images/loading.png']
           },
           itemDetail:{},
           rankData:[],
           myVoteData:[],
           showPage5:false, //控制创建投票的显示
           showPage6:false, //控制投票详情的显示
           showPage7:false, //控制搜索的显示
           showPageShareFlag:false,
           showAuthorizerFlag:false,
           choseImgs:[]
       },
       mounted: function(){
         var _this = this;
         setTimeout(function(){
           _this.loader = false;
         },2000);
         this.getRank();
         this.getUserInfo();
         this.getQiuniuToken();
       },
       filters:{

       },
       methods:{
           changeNav: function(index){
             if(index != this.navData.actIndex){
               this.navData.actIndex = index;
             }
           },
           changeTab: function(index){
               if(index != this.tabData.actIndex){
                 this.tabData.actIndex = index;
               }
           },
           formatDate: function(value,Format){
              return new Date(value).Format(Format);
           },
           openToast:function(msg,time){
             var _this = this;
             _this.toast.show = true;
             _this.toast.msg = msg?msg:'loading...';
             if(time){
               if(_this.toast.show){
                 window.setTimeout(function(){
                   _this.toast.show = false;
                 },time)
               }
             }
           },
           closeToast:function(){
             this.toast.show = false;
           },
           getQiuniuToken:function(){
             var _this = this;
             $.ajax({
                 type: 'GET',
                 url: '/com/get_qiniu_upload_token',
                 dataType: 'json',
                 success: function(data){
                   //alert(JSON.stringify(data));
                   if(data.status == 1){
                     _this.token_qiniu = data.data.token;
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           uploadImg:function(event){
             var domain = 'http://on3qzk66b.bkt.clouddn.com/';
             var _this = this;
             var ele = event.currentTarget;
             var formData = new FormData();
             formData.append('file',ele.files[0]);
             formData.append('token',_this.token_qiniu);
             //formData.append('key', result.key)
             ele.value = '';
             _this.openToast('上传中...');
             $.ajax({
               url: 'http://up-z2.qiniu.com/',
               type: 'POST',
               data: formData,
               processData: false,
               contentType:false,
               xhr: function(){
                  var myXhr = $.ajaxSettings.xhr();
                  if(myXhr.upload){
                    myXhr.upload.addEventListener('progress',function(e) {
                      if (e.lengthComputable) {
                        if(e.total > e.loaded){
                          var percent = e.loaded/e.total*100;
                          _this.openToast("已上传：" + percent.toFixed(2)+ "%");
                        }else{
                          _this.openToast("文件处理中...");
                        }
                      }
                    }, false);
                  }
                  return myXhr;
               },
               success: function(data){
                 var sourceLink = domain + data.key;
                 $.ajax({
                     type: 'POST',
                     url: '/com/get_local_img_save_remote',
                     data:{
                       url:sourceLink + '?imageView2/2/w/800',
                       types:'qiniu'
                     },
                     dataType: 'json',
                     success: function(data){
                       _this.openToast('上传成功',1000);
                       if(data.status == 1){
                          //_this.newVote.images.push(sourceLink);
                          //_this.newVote.images.push(sourceLink + '?imageView2/2/w/800');
                          _this.newVote.images.push(data.data.img);
                       }else{
                         _this.openToast(data.message,1000);
                       }
                     },
                     error: function(xhr, type){
                       _this.openToast('上传失败',1000);
                     }
                 })
               },
               error: function(XMLHttpRequest, textStatus, errorThrown) {
                   _this.openToast('上传失败',1000);
               }
             });
            //  _this.compressImg(ele.files[0],600,function(newFile){
            //    console.log(newFile);
            //
            //  })
           },
          //  choseImg:function(){
          //    var _this = this;
          //    wx.chooseImage({
          //       count: 1, // 默认9
          //       sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
          //       sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
          //       success: function (res) {
          //           var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
          //           var img = new Image();
          //           img.src = localIds[0];
          //           img.onload = function () {
          //               // 当图片宽度超过 400px 时, 就压缩成 400px, 高度按比例计算
          //               // 压缩质量可以根据实际情况调整
          //               var w = Math.min(400, img.width);
          //               var h = img.height * (w / img.width);
          //               var canvas = document.createElement('canvas');
          //               var ctx = canvas.getContext('2d');
          //               // 设置 canvas 的宽度和高度
          //               canvas.width = w;
          //               canvas.height = h;
          //               // 把图片绘制到 canvas 中
          //               ctx.drawImage(img, 0, 0, w, h);
          //               // 取出 base64 格式数据
          //               var dataURL = canvas.toDataURL('image/png');
          //               var Blob = _this.dataURItoBlob(dataURL);
          //               var formData = new FormData();
          //               formData.append('file',Blob);
          //               _this.openToast('上传中...');
          //               $.ajax({
          //                 url: '/img/upload',
          //                 type: 'post',
          //                 data: formData,
          //                 // 因为data值是FormData对象，不需要对数据做处理
          //                 processData: false,
          //                 contentType: false,
          //                 success: function(data){
          //                   //alert(JSON.stringify(data));
          //                     if(data.status == 1){
          //                       _this.openToast('上传成功',1000);
          //                       _this.newVote.images.push(data.data.url);
          //                     }else{
          //                       _this.openToast(data.message,1000);
          //                     }
          //                 },
          //                 error: function(XMLHttpRequest, textStatus, errorThrown) {
          //                     _this.openToast('上传失败',1000);
          //                 }
          //               });
          //           };
          //           // wx.uploadImage({
          //           //     localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
          //           //     isShowProgressTips: 1, // 默认为1，显示进度提示
          //           //     success: function (res) {
          //           //         var serverId = res.serverId; // 返回图片的服务器端ID
          //           //     }
          //           // });
          //       }
          //   });
          //  },
           previewImage:function(index,Aurl){
             wx.previewImage({
                current: Aurl[index], // 当前显示图片的http链接
                urls: Aurl // 需要预览的图片http链接列表
            });
           },
           delImage:function(index,event){
             event.stopPropagation();
             this.newVote.images.splice(index, 1);
           },
           getMyVoteItem:function(cb){
             var _this = this;
             $.ajax({
                 type: 'GET',
                 url: '/voteimage/get_my_item?activity_guid='+_this.activityGuid+'&openid='+_this.openId,
                 dataType: 'json',
                 success: function(data){
                   //alert(JSON.stringify(data));
                   if(data.status == 1){
                     if(data.data.length > 0){
                       _this.is_create = 1;
                       _this.newVote.realname = data.data[0].realname;
                       _this.newVote.phone = data.data[0].phone;
                       _this.newVote.title = data.data[0].title;
                       _this.newVote.item_guid = data.data[0].item_guid;
                       _this.newVote.images = data.data[0].images;
                     }else{
                       _this.is_create = 0;
                     }
                   }else{
                     _this.openToast(data.message,1000);
                   }
                   if(cb){
                     cb();
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           getUserInfo:function(){
             var _this = this;
             $.ajax({
                 type: 'GET',
                 url: '/com/get_userinfo_by_code?code='+_this.code+'&appid='+_this.appid+'&state='+_this.state,
                 dataType: 'json',
                 success: function(data){
                   //alert(JSON.stringify(data));
                   if(data.status == 1){
                     _this.openId = data.data.userinfo.openid;
                     _this.getSubscribe();
                     _this.getDetail();
                     _this.getVoteList(0,this.listPage0);
                     _this.getVoteList(1,this.listPage1);
                     _this.getVoteList(2,this.listPage2);
                     _this.getMyVoteList();
                     _this.getAuthorizer();
                     _this.getMyVoteItem(function(){
                       if(getQueryString('item_guid')){
                         _this.showVoteDetail(getQueryString('item_guid'));
                       }
                     });
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           getSubscribe:function(){
              var _this = this;
              $.ajax({
                 type: 'GET',
                 url: '/com/get_user_info_by_openid?openid='+_this.openId+'&appid='+_this.appid,
                 dataType: 'json',
                 success: function(data){
                   //alert(JSON.stringify(data));
                   if(data.status == 1){
                     _this.subscribe = data.data.subscribe;
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
              })
           },
           getAuthorizer:function(){
             var _this = this;
              $.ajax({
                 type: 'GET',
                 url: '/com/get_authorizer?appid='+_this.appid,
                 dataType: 'json',
                 success: function(data){
                   //alert(JSON.stringify(data));
                   if(data.status == 1){
                     _this.authorizer = data.data;
                     $.ajax({
                        type: 'POST',
                        url: '/com/get_local_img_save_remote',
                        data:{
                          url:data.data.qrcode_url
                        },
                        dataType: 'json',
                        success: function(data){
                          //alert(JSON.stringify(data));
                          if(data.status == 1){
                            _this.authorizer.qrcode_url = data.data.img;
                            ALERT(_this.authorizer.qrcode_ur);
                          }else{
                            _this.openToast(data.message,1000);
                          }
                        },
                        error: function(xhr, type){
                          _this.openToast('网络繁忙',1500);
                        }
                      })
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
              })
           },
           creatVote:function(){
             var _this = this;
             if(_this.newVote.realname.length < 2){
               _this.openToast('请填写正确的姓名',1000);
               return false;
             }
             if(!(/^1[3|4|5|7|8][0-9]\d{4,8}$/.test(_this.newVote.phone))){
               _this.openToast('请填写正确的电话号码',1000);
               return false;
             }
             if(_this.newVote.images.length < 1){
               _this.openToast('请至少上传一张图片',1000);
               return false;
             }
             var requestData = {
               activity_guid:_this.activityGuid,
               openid:_this.openId,
               realname:_this.newVote.realname,
               phone:_this.newVote.phone,
               title:_this.newVote.title?_this.newVote.title:'请投我一票,谢谢~',
               images:_this.newVote.images.join(',')
             }
             var reqUrl = '/voteimage/items_create';
             if(_this.is_create == 1){
               reqUrl = '/voteimage/items_update';
               requestData.item_guid = _this.newVote.item_guid;
             }
             _this.openToast('请求中...');
             //alert(JSON.stringify(requestData));
             $.ajax({
                 type: 'POST',
                 url: reqUrl,
                 data:requestData,
                 dataType: 'json',
                 success: function(data){
                   _this.closeToast();
                   if(data.status == 1){
                     _this.showVoteDetail(_this.newVote.item_guid);
                     _this.listPage0 = 1;
                     _this.listPage1 = 1;
                     _this.listPage2 = 1;
                     _this.getVoteList(0,_this.listPage0);
                     _this.getVoteList(1,_this.listPage1);
                     _this.getVoteList(2,_this.listPage2);
                     setTimeout(function(){
                       _this.openToast(_this.is_create == 0?'报名成功':'修改成功',1000);
                       _this.showPage5 = false;
                     },300);
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           vote: function(item,event,index){
             var _this = this;
             if(_this.subscribe == 0){
                _this.openToast('关注公众号才能投票哦',800);
                _this.showAuthorizerFlag = true;
                return false;
             }
             if(item.statuss_item == 0||item.statuss_item == 2){
                _this.openToast('该投票尚未审核完成,暂不能投票',800);
                return false;
             }
             if(item.is_vote == 1){
                _this.openToast('您已经给该选手投过票啦',800);
                return false;
             }
            //  if(item.item_guid == _this.newVote.item_guid){
            //    _this.openToast('不能给自己投票哦',800);
            //    return false;
            //  }
             _this.openToast('请求中...');
             $.ajax({
                 type: 'POST',
                 url: '/voteimage/create_vote',
                 data:{
                   activity_guid:_this.activityGuid,
                   item_guid:item.item_guid,
                   openid:_this.openId,
                   realname:item.realname,
                   title:item.title,
                   nums:item.nums
                 },
                 dataType: 'json',
                 success: function(data){
                   _this.closeToast();
                   if(data.status == 1){
                     _this.openToast('投票成功',1000);
                     _this.detail.total_vote++;
                     if(!index){
                       _this.itemDetail.is_vote = 1;
                       _this.itemDetail.num_vote++;
                     }
                     for(var i = 0; i < 3; i++){
                       var len = _this['voteList'+i].length;
                       for(var j = 0; j < len; j++){
                         if(_this['voteList'+i][j].item_guid == item.item_guid){
                           _this['voteList'+i][j].is_vote = 1;
                           _this['voteList'+i][j].num_vote++;
                         }
                       }
                     }
                     var searchLen = _this.searchList.length;
                     for(var j = 0; j < len; j++){
                       if(_this.searchList[j].item_guid == item.item_guid){
                         _this.searchList[j].is_vote = 1;
                         _this.searchList[j].num_vote++;
                       }
                     }
                     _this.getMyVoteList();
                     _this.getRank();
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(XMLHttpRequest, textStatus, errorThrown){
                   alert(textStatus);
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           searchVote:function(){
             var _this = this;
             if(!_this.sword){
               _this.openToast('请先输入姓名或编号',1000);
               return false;
             }
             _this.openToast('搜索中...');
             $.ajax({
                 type: 'GET',
                 url: '/voteimage/get_item_search?activity_guid='+_this.activityGuid+'&openid='+_this.openId+'&sword='+_this.sword,
                 dataType: 'json',
                 success: function(data){
                   _this.closeToast();
                   if(data.status == 1){
                     _this.showPage7 = true;
                     if(data.data.length>0){
                       _this['searchList'] = data.data;
                     }else{
                       _this.openToast('未找到任何东西',1000);
                     }
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           loadMore:function(){
             if(this.isLoading){
               return;
             }
             var actIndex = this.tabData.actIndex;
             this['listPage'+actIndex]++;
             this.getVoteList(actIndex,this['listPage'+actIndex]);
           },
           showVoteDetail:function(item_guid){
             var _this = this;
             _this.openToast();
             $.ajax({
                 type: 'GET',
                 url: '/voteimage/get_item_detail?item_guid='+item_guid+'&openid='+_this.openId,
                 dataType: 'json',
                 success: function(data){
                   _this.closeToast();
                   //console.log(JSON.stringify(data));
                   if(data.status == 1){
                      _this.itemDetail = data.data;
                      _this.showPage6 = true;
                      //alert(encodeURIComponent(window.location.href.split('?')[0]+'?item_guid='+ data.data.item_guid));
                      //if(data.data.item_guid == _this.newVote.item_guid){
                        setTimeout(function(){
                          WXENV._updateShareData({
                            imgUrl: data.data.images[0], // 分享图标
                            title:'我是'+data.data.realname + '正在参加' + _this.detail.title,   // 分享标题
                            desc: '快来给我投票吧',   // 分享内容          
                            link: 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+_this.appid+'&redirect_uri='+encodeURIComponent(redirect_uri+'&item_guid='+ data.data.item_guid)+'&response_type=code&scope='+scope+'&state='+state+'&component_appid='+component_appid+'#wechat_redirect',                                                                 // 分享描述
                            type: '',
                            dataUrl: '',
                            success: function (res) {
                              _this.showPageShareFlag = false;
                                //openToast('分享成功',3000);
                            },
                            cancel: function (res) {
                              _this.showPageShareFlag = false;
                            }
                          });
                        },333);
                      //}
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           getVoteList: function(actIndex,page){
             var Atype = ['1','3','2'];
             var type = Atype[actIndex];
             var _this = this;
             _this.isLoading = true;
             _this.openToast();
             $.ajax({
                 type: 'GET',
                 url: '/voteimage/get_item_list?type='+type+'&page='+page+'&activity_guid='+_this.activityGuid+'&openid='+_this.openId,
                 dataType: 'json',
                 success: function(data){
                   _this.closeToast();
                   setTimeout(function(){
                     _this.isLoading = false;
                   },1000)
                   if(data.status == 1){
                     if(data.data.length>0){
                       if(page == 1){
                         _this['voteList'+actIndex] = [];
                       }
                       _this['voteList'+actIndex].push.apply(_this['voteList'+actIndex],data.data);
                     }else{
                       _this['listPage'+actIndex]--;
                       _this.openToast('已经拉不出任何东西啦',666);
                     }
                   }else{
                     _this['listPage'+actIndex]--;
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.isLoading = false;
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           getDetail: function(){
               var _this = this;
               $.get('/voteimage/get_detail?activity_guid='+_this.activityGuid, function(data, status, xhr){
                 if(data.status == 1){
                   //alert(JSON.stringify(data.data.contents_join));
                   _this.detail = data.data;
                   if(_this.detail.banners[0]){
                      shareData.imgUrl = _this.detail.banners[0];
                      shareData.title = _this.detail.title;
                      //shareData.desc = _this.detail.title;
                      $('#Title').html(_this.detail.title);
                      $('meta[name=description]').attr('content',_this.detail.title);
                      WXENV._updateShareData(shareData);
                   }
                 }else{
                   //openToast('获取活动详情',2000);
                 }
               })
           },
           getRank:function(){
             var _this = this;
             $.ajax({
                 type: 'GET',
                 url: '/voteimage/get_rank?activity_guid='+_this.activityGuid,
                 dataType: 'json',
                 success: function(data){
                   //console.log(JSON.stringify(data));
                   //alert('排行>>>>'+JSON.stringify(data));
                   if(data.status == 1){
                      _this.rankData = data.data;
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           getMyVoteList:function(){
             var _this = this;
             $.ajax({
                 type: 'GET',
                 url: '/voteimage/get_user_vote_list?activity_guid='+_this.activityGuid+'&openid='+_this.openId,
                 dataType: 'json',
                 success: function(data){
                   //alert('我的投票>>>>'+JSON.stringify(data));
                   if(data.status == 1){
                      _this.myVoteData = data.data;
                   }else{
                     _this.openToast(data.message,1000);
                   }
                 },
                 error: function(xhr, type){
                   _this.openToast('网络繁忙',1500);
                 }
             })
           },
           closeVoteDetail:function(){
             var _this = this;
             _this.showPage6 = false;
             //if(_this.itemDetail.item_guid == _this.newVote.item_guid){
               WXENV._updateShareData(shareData);
             //}
           },
           showPageCreateVote:function(){
              var _this = this;
              _this.showPage5 = true;
           },
       },
       directives: {
				scroll: {
					bind: function (ele, binding){
						ele.addEventListener('scroll', function(){
                if(ele.scrollTop + ele.offsetHeight + 1 >= ele.scrollHeight){
                    binding.value.call(this)
                }
						})
					}
				}
			}
   })
</script>
</html>
